USE [QLTuThien]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 03/25/2015 17:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[NoiDung] [nvarchar](500) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[Ngay] [datetime] NOT NULL,
 CONSTRAINT [PK_ThongBao] PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON
INSERT [dbo].[ThongBao] ([MaThongBao], [TenDangNhap], [NoiDung], [TrangThai], [Ngay]) VALUES (10, N'abcde', N'Xin chào EE, cảm ơn bạn đã đăng ký tham gia cùng chúng tôi. Hãy cùng chúng tôi KẾT NỐI THƯƠNG YÊU!', 1, CAST(0x0000A46201506210 AS DateTime))
INSERT [dbo].[ThongBao] ([MaThongBao], [TenDangNhap], [NoiDung], [TrangThai], [Ngay]) VALUES (12, N'bakiem', N'Chuyến đi MÙA ĐÔNG NHÂN ÁI mà bạn đã đăng ký, đã bị xóa bởi đoàn trưởng hoặc người quản trị!', 1, CAST(0x0000A4620155214C AS DateTime))
INSERT [dbo].[ThongBao] ([MaThongBao], [TenDangNhap], [NoiDung], [TrangThai], [Ngay]) VALUES (14, N'tu', N'Chuyến đi MÙA ĐÔNG NHÂN ÁI mà bạn đã đăng ký, đã bị xóa bởi đoàn trưởng hoặc người quản trị!', 1, CAST(0x0000A4620155214C AS DateTime))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 03/25/2015 17:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[urlAnhDaiDien] [nvarchar](200) NULL,
	[HoTen] [nvarchar](200) NOT NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NULL,
	[CMND] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[NgheNghiep] [nvarchar](20) NULL,
	[NoiCongTac] [nvarchar](20) NULL,
	[SoDT] [nvarchar](15) NULL,
	[DiemNangDong] [int] NULL,
	[Quyen] [int] NOT NULL,
	[SoLanToChucThanhCong] [int] NULL,
	[SoLanToChucThatBai] [int] NULL,
 CONSTRAINT [PK_ThanhVien] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ThanhVien] ([TenDangNhap], [MatKhau], [NgayDangKy], [urlAnhDaiDien], [HoTen], [NgaySinh], [Email], [GioiTinh], [CMND], [DiaChi], [NgheNghiep], [NoiCongTac], [SoDT], [DiemNangDong], [Quyen], [SoLanToChucThanhCong], [SoLanToChucThatBai]) VALUES (N'123', N'202cb962ac59075b964b07152d234b70', CAST(0xBC390B00 AS Date), N'http://10.133.228.231:8080/QuanLyHoatDongTuThien/upload/77.JPG', N'Ngô Công Minh', CAST(0xB3390B00 AS Date), N'hoa@gmail.com', 1, N'205599098', N'Hải Châu, Đà nẵng', N'Sinh Viên', N'Đà Nẵng', N'0122353989', 5, 1, 1, 0)
INSERT [dbo].[ThanhVien] ([TenDangNhap], [MatKhau], [NgayDangKy], [urlAnhDaiDien], [HoTen], [NgaySinh], [Email], [GioiTinh], [CMND], [DiaChi], [NgheNghiep], [NoiCongTac], [SoDT], [DiemNangDong], [Quyen], [SoLanToChucThanhCong], [SoLanToChucThatBai]) VALUES (N'1232', N'202cb962ac59075b964b07152d234b70', CAST(0xBF390B00 AS Date), N'./Wisdom of Life_files/images/none.png', N'abC', CAST(0xB2390B00 AS Date), N'thewar_theend@yahoo.com', NULL, NULL, NULL, NULL, NULL, NULL, 0, 1, 0, 0)
INSERT [dbo].[ThanhVien] ([TenDangNhap], [MatKhau], [NgayDangKy], [urlAnhDaiDien], [HoTen], [NgaySinh], [Email], [GioiTinh], [CMND], [DiaChi], [NgheNghiep], [NoiCongTac], [SoDT], [DiemNangDong], [Quyen], [SoLanToChucThanhCong], [SoLanToChucThatBai]) VALUES (N'a', N'202cb962ac59075b964b07152d234b70', CAST(0x8E390B00 AS Date), N'http://10.133.228.231:8080/QuanLyHoatDongTuThien/upload/73.JPG', N'Tran Van Aaaa', CAST(0x0B1A0B00 AS Date), N'hoa@gmail.com', 1, N'205599098', N'Hải Châu, Đà nẵng', N'Sinh Viên', N'Đà nẵng', N'0122353989', 1, 1, 0, 0)
/****** Object:  Table [dbo].[FeedBack]    Script Date: 03/25/2015 17:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[MaFeedback] [int] NOT NULL,
	[MaUser] [nvarchar](50) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[NoiDung] [ntext] NOT NULL,
	[NgayDang] [datetime] NOT NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[MaFeedback] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[FeedBack] ([MaFeedback], [MaUser], [TenDangNhap], [NoiDung], [NgayDang]) VALUES (0, N'tu', N'bb', N'ABC Ă ấn ặc', CAST(0x0000A46600E0871C AS DateTime))
/****** Object:  Table [dbo].[BaiDang]    Script Date: 03/25/2015 17:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiDang](
	[MaBaiDang] [nvarchar](50) NOT NULL,
	[TieuDe] [ntext] NOT NULL,
	[NgayDi] [date] NOT NULL,
	[NoiDung] [ntext] NOT NULL,
	[KinhPhiDuKien] [int] NOT NULL,
	[DiaDiem] [nvarchar](50) NOT NULL,
	[SoNguoiDuKien] [int] NOT NULL,
	[NgayDang] [date] NOT NULL,
	[URLHinhAnh] [nvarchar](500) NOT NULL,
	[TenDangNhapLeader] [nvarchar](50) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_BaiDang] PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BaiDang] ([MaBaiDang], [TieuDe], [NgayDi], [NoiDung], [KinhPhiDuKien], [DiaDiem], [SoNguoiDuKien], [NgayDang], [URLHinhAnh], [TenDangNhapLeader], [TrangThai]) VALUES (N'12', N'Chuyển hàng cứu trợ', CAST(0x8E390B00 AS Date), N'Chuyển hàng cứu trợ', 500000, N'Hà Tĩnh', 25, CAST(0xB5390B00 AS Date), N'http://10.133.228.231:8080/QuanLyHoatDongTuThien/upload/2.jpg', N'admin', 2)
/****** Object:  Table [dbo].[AnhChuyenDi]    Script Date: 03/25/2015 17:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhChuyenDi](
	[MaBaiDang] [nvarchar](50) NOT NULL,
	[URL] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_AnhChuyenDi_1] PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC,
	[URL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AnhChuyenDi] ([MaBaiDang], [URL]) VALUES (N'12', N'http://10.133.228.231:8080/QuanLyHoatDongTuThien/upload/15.jpg')
INSERT [dbo].[AnhChuyenDi] ([MaBaiDang], [URL]) VALUES (N'12', N'http://10.133.228.231:8080/QuanLyHoatDongTuThien/upload/16.jpg')
INSERT [dbo].[AnhChuyenDi] ([MaBaiDang], [URL]) VALUES (N'12', N'http://10.133.228.231:8080/QuanLyHoatDongTuThien/upload/17.jpg')
/****** Object:  Table [dbo].[DangKiChuyenDi]    Script Date: 03/25/2015 17:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKiChuyenDi](
	[MaBaiDang] [nvarchar](50) NOT NULL,
	[TenDangNhapTVDangKy] [nvarchar](50) NOT NULL,
	[TrangThaiCD] [int] NOT NULL,
	[Vote] [int] NOT NULL,
 CONSTRAINT [PK_DangKiChuyenDi] PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC,
	[TenDangNhapTVDangKy] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DangKiChuyenDi] ([MaBaiDang], [TenDangNhapTVDangKy], [TrangThaiCD], [Vote]) VALUES (N'12', N'bb', 0, 0)
INSERT [dbo].[DangKiChuyenDi] ([MaBaiDang], [TenDangNhapTVDangKy], [TrangThaiCD], [Vote]) VALUES (N'21', N'a', 0, 0)
INSERT [dbo].[DangKiChuyenDi] ([MaBaiDang], [TenDangNhapTVDangKy], [TrangThaiCD], [Vote]) VALUES (N'21', N'b', 0, 0)
/****** Object:  Table [dbo].[BinhLuanBaiDang]    Script Date: 03/25/2015 17:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuanBaiDang](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[MaBaiDang] [nvarchar](50) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[NoiDung] [ntext] NOT NULL,
	[NgayBinhLuan] [date] NOT NULL,
 CONSTRAINT [PK_BinhLuanBaiDang] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BinhLuanBaiDang] ON
INSERT [dbo].[BinhLuanBaiDang] ([MaBinhLuan], [MaBaiDang], [TenDangNhap], [NoiDung], [NgayBinhLuan]) VALUES (50, N'5', N'b', N'Toi se goi them ban be tham gia', CAST(0xE83A0B00 AS Date))
INSERT [dbo].[BinhLuanBaiDang] ([MaBinhLuan], [MaBaiDang], [TenDangNhap], [NoiDung], [NgayBinhLuan]) VALUES (51, N'5', N'b', N'23236526562', CAST(0x073B0B00 AS Date))
INSERT [dbo].[BinhLuanBaiDang] ([MaBinhLuan], [MaBaiDang], [TenDangNhap], [NoiDung], [NgayBinhLuan]) VALUES (52, N'5', N'b', N'Cháu bé Nhân bị chứng bệnh não úng thủy đã 4 năm qua. Với căn bệnh ngặt nghèo này, cháu vẫn chưa biết nói chuyện, chưa đi được mà chỉ lết dưới đất và mỗi ngày nếu không có thuốc uống thì tính mạng cháu sẽ nguy kịch.', CAST(0x073B0B00 AS Date))
SET IDENTITY_INSERT [dbo].[BinhLuanBaiDang] OFF
/****** Object:  Default [DF_ThanhVien_DiemNangDong]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[ThanhVien] ADD  CONSTRAINT [DF_ThanhVien_DiemNangDong]  DEFAULT ((0)) FOR [DiemNangDong]
GO
/****** Object:  Default [DF_ThanhVien_SoLanToChucThanhCong]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[ThanhVien] ADD  CONSTRAINT [DF_ThanhVien_SoLanToChucThanhCong]  DEFAULT ((0)) FOR [SoLanToChucThanhCong]
GO
/****** Object:  Default [DF_ThanhVien_SoLanToChucThatBai]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[ThanhVien] ADD  CONSTRAINT [DF_ThanhVien_SoLanToChucThatBai]  DEFAULT ((0)) FOR [SoLanToChucThatBai]
GO
/****** Object:  ForeignKey [FK_AnhChuyenDi_BaiDang1]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[AnhChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_AnhChuyenDi_BaiDang1] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
GO
ALTER TABLE [dbo].[AnhChuyenDi] CHECK CONSTRAINT [FK_AnhChuyenDi_BaiDang1]
GO
/****** Object:  ForeignKey [FK_BaiDang_ThanhVien]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [FK_BaiDang_ThanhVien] FOREIGN KEY([TenDangNhapLeader])
REFERENCES [dbo].[ThanhVien] ([TenDangNhap])
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [FK_BaiDang_ThanhVien]
GO
/****** Object:  ForeignKey [FK_BinhLuanBaiDang]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[BinhLuanBaiDang]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanBaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BinhLuanBaiDang] CHECK CONSTRAINT [FK_BinhLuanBaiDang]
GO
/****** Object:  ForeignKey [FK_BinhLuanBaiDang_BaiDang]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[BinhLuanBaiDang]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanBaiDang_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
GO
ALTER TABLE [dbo].[BinhLuanBaiDang] CHECK CONSTRAINT [FK_BinhLuanBaiDang_BaiDang]
GO
/****** Object:  ForeignKey [FK_BinhLuanBaiDang_ThanhVien]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[BinhLuanBaiDang]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanBaiDang_ThanhVien] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[ThanhVien] ([TenDangNhap])
GO
ALTER TABLE [dbo].[BinhLuanBaiDang] CHECK CONSTRAINT [FK_BinhLuanBaiDang_ThanhVien]
GO
/****** Object:  ForeignKey [FK_DangKiChuyenDi]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[DangKiChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_DangKiChuyenDi] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKiChuyenDi] CHECK CONSTRAINT [FK_DangKiChuyenDi]
GO
/****** Object:  ForeignKey [FK_DangKiChuyenDi_BaiDang]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[DangKiChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_DangKiChuyenDi_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
GO
ALTER TABLE [dbo].[DangKiChuyenDi] CHECK CONSTRAINT [FK_DangKiChuyenDi_BaiDang]
GO
/****** Object:  ForeignKey [FK_DangKiChuyenDi_ThanhVien]    Script Date: 03/25/2015 17:35:00 ******/
ALTER TABLE [dbo].[DangKiChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_DangKiChuyenDi_ThanhVien] FOREIGN KEY([TenDangNhapTVDangKy])
REFERENCES [dbo].[ThanhVien] ([TenDangNhap])
GO
ALTER TABLE [dbo].[DangKiChuyenDi] CHECK CONSTRAINT [FK_DangKiChuyenDi_ThanhVien]
GO
